server:
  port: 3344

spring:
  application:
    name: cloud-config-center
  cloud:
    config:
      server:
        git:
          skipSslValidation: true
          uri: https://github.com/Romantic-Lei/mergeTest.git #github上仓库名
          #搜索目录，相当于是git上 Repositories 名字
          search-paths:
            - mergeTest
      #读取分支
      label: master
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
      

eureka:
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka

# rabbitmq相关配置  暴露bus刷新配置的端点
management:
  endpoints:
    web:
      exposure:
        include: "bus-refresh"